*{
    padding: 0;
    margin: 0;
}
#name{
    font-size: 32px;
    color: #009688;
    margin-left: 120px;
}
#topnamediv{
    color: #009688;
}
#topname1 {
    font-size: 20px;
    margin: 5px;
}
#topname2 {
    font-size: 20px;
    margin: 5px;
}
#topname3 {
    font-size: 20px;
    margin: 5px;
}
#topname4 {
    font-size: 20px;
    margin-right: 120px;
}

#banner{
    height: 220px;
    width: 860px;
    margin-top: 20px;
    margin-left: 15%;
    background: #3F51B5;
    box-shadow: 0px 10px 40px rgb(90, 151, 224);
    border-radius: 20px;
}
#banner-span{
    position: absolute;
    margin-top: 70px;
    margin-left: 20%;
    font-size: 54px;
    color: white;

    
}
#class{
    font-weight: 500;
    font-size: 36px;
    margin-top: 20px;
    margin-left: 15%;
}
#main{
    font-weight: 500;
    font-size: 36px;
    position: relative;
    margin-top: 160px;
    margin-left: 15%;
}
#more{
    font-weight: 400;
    font-size: 24px;
    color:  #448AFF;
    float: left;
    margin-top: 200px;
    margin-left: 20px;
}
#class-card1{
    height: 100px;
    width: 200px;
    float: left;
    margin-top: 20px;
    margin-left: 15%;
    background: #424242;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #424242;
}
#class-card2{
    height: 100px;
    width: 200px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    background: #FFC601;
    box-shadow: 0px 10px 40px #FFF59D;
    border-radius: 20px;
}
#class-card3{
    height: 100px;
    width: 200px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    background: #9575CD;
    box-shadow: 0px 10px 40px #B39DDB;
    border-radius: 20px;
}
#class-card4{
    height: 100px;
    width: 200px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    background: #2196F3;
    box-shadow: 0px 10px 40px #64B5F6;
    border-radius: 20px;
}
#class-name{
    color: white; 
    font-size: 36px;
    position: absolute;
    margin-top: 30px;
    margin-left: 65px;
}
#main{
    font-weight: 500;
    font-size: 36px;
    margin-top: 160px;
    margin-left: 15%;
}
#more{
    font-weight: 400;
    font-size: 24px;
    color:  #448AFF;
    float: left;
    margin-top: 200px;
    margin-left: 20px;
}
#card{
    height: 200px;
    width: 200px;
    float: left;
    margin-top: 20px;
    margin-left: 15%;
    background: #009688;
    border-radius: 20px;
}
#card2{
    height: 200px;
    width: 200px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    background: #009688;
    border-radius: 20px;
}

#product-photo{
    position: absolute;
    margin-top: 20px;
    margin-left: 15%;
    height: 280px;
    width: 280px;
    background-color:#009688;
}
#details{
    position: absolute;
    margin-top: 20px;
    margin-left: 600px;
    padding-top: 20px;
    padding-left: 20px;
    height: 280px;
    width: 320px;
    font-size: 24px;
}
#buy-buttom{
    height: 40px;
    width: 80px;
    position: relative;
    margin-top: 100px;
    margin-right: 0px;
    border-radius: 20px;
    background-color: #448AFF;
}
#title{
    font-size: 42px;
}
#price{
    margin-top: 20px;
}
#buy{
    text-align: center;
    color: cornsilk;
    padding-top: 8px;
    font-size: 18px;
}
