#card{
    margin: 0 auto;
    height: 900px;
    width: 80%;
}
#appleA13{
    height: 4%;
    width: 99%;
    font-size: 28px;
    text-indent:10px;
}
#appleA12{
    height: 4%;
    width: 85%;
    font-size: 28px;
    text-indent:10px;
}
#appleA12X{
    height: 4%;
    width: 90%;
    font-size: 28px;
    text-indent:10px;
}
#appleA11{
    height: 4%;
    width: 100%;
    font-size: 28px;
    text-indent:10px;
}

#snapdragon855plus{
    height: 4%;
    width: 80%;
    font-size: 28px;
    text-indent:10px;
}
#snapdragon855{
    height: 4%;
    width: 75%;
    font-size: 28px;
    text-indent:10px;
}
#snapdragon845{
    height: 4%;
    width: 70%;
    font-size: 28px;
    text-indent:10px;
}
#snapdragon835{
    height: 4%;
    width: 65%;
    font-size: 28px;
    text-indent:10px;
}
@media screen and (max-width:600px) { 
    #card {width: 100%}  
    } 

