*{
    padding: 0;
    margin: 0;
}
a {
    text-decoration:none;
    color: #212121;
} 
#a-href{
    color: #FF4081;
}
#a-more{
    color: #448AFF;;
}
#name{
    font-size: 34px;
    font-weight: 600;
    color:#212121;
    margin-left: 11%;
}
#topnamediv{
    color: #212121;
    font-weight: 600;
}
#topname1 {
    font-size: 23px;
    margin: 8px;
}
#topname2 {
    font-size: 23px;
    margin: 8px;
}
#topname3 {
    font-size: 23px;
    margin: 8px;
}
#topname4 {
    font-size: 23px;
    margin: 8px;
    margin-right: 200px;
}

#class-span{
    font-size: 40px;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 0px;
}

.mdui-container{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

#class-card1{
    height: 100px;
    width: 200px;
    float: left;
    margin-top: 20px;
    margin-left: 0px;
    background: #81B900;
    box-shadow: 0px 3px 40px rgb(157, 184, 93);
    animation-duration: 1s;
    border-radius: 10px;
}
#class-card2{
    height: 100px;
    width: 200px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    background: #EEB211;
    box-shadow: 0px 3px 40px #FFF59D;
    border-radius: 10px;
}
#class-card3{
    height: 100px;
    width: 200px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    background: #424242;
    box-shadow: 0px 3px 40px #424242;
    border-radius: 10px;
}
#class-card4{
    height: 100px;
    width: 200px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    background: #2196F3;
    box-shadow: 0px 3px 40px #64B5F6;
    border-radius: 10px;
}
#class-name{
    color: white; 
    font-size: 36px;
    position: absolute;
    margin-top: 30px;
    margin-left: 65px;
}

#microsoft-span{
    font-size: 40px;
    font-weight: 600;
    position: relative;
    margin-top: 180px;
    margin-left: 0px;
}
#fluentdesign-span{
    font-size: 40px;
    font-weight: 600;
    position: relative;
    margin-top: 200px;
    margin-left: 0px;
}
#apple-span{
    font-size: 40px;
    font-weight: 600;
    position: relative;
    margin-top: 200px;
    margin-left: 0px;
}
#google-span{
    font-size: 40px;
    font-weight: 600;
    position: relative;
    margin-top: 200px;
    margin-left: 0px;
}
#design-span{
    font-size: 40px;
    font-weight: 600;
    position: relative;
    margin-top: 200px;
    margin-left: 0px;
}


#background-img{
    height: 113px;
    width: 200px;   
}
#wallpaper-card1{
    height: 113px;
    width: 200px;
    float: left;
    margin-top: 40px;
    margin-left: 0px;
    background: #9575CD;
    box-shadow: 0px 5px 15px #90CAF9;
    border-radius: 20px;
}
#wallpaper-card2{
    height: 113px;
    width: 200px;
    float: left;
    margin-top: 40px;
    margin-left: 20px;
    background: #9575CD;
    box-shadow: 0px 5px 20px  #90CAF9;
    border-radius: 20px;
}
#wallpaper-card3{
    height: 113px;
    width: 200px;
    float: left;
    margin-top: 40px;
    margin-left: 20px;
    background: #9575CD;
    box-shadow: 0px 5px 20px #90CAF9;
    border-radius: 20px;
}
#wallpaper-card4{
    height: 113px;
    width: 200px;
    float: left;
    margin-top: 40px;
    margin-left: 20px;
    background: #9575CD;
    box-shadow: 0px 5px 40px #90CAF9;
    border-radius: 20px;
}

#wallpaper-card5{
    height: 113px;
    width: 200px;
    float: left;
    margin-top: 40px;
    margin-left: 120px;
    background: #9575CD;
    box-shadow: 0px 5px 40px #90CAF9;
    border-radius: 20px;
}


#footer-span{
    font-size: 40px;
    font-weight: 600;
    margin-top: 200px;
    margin-left: 0px;
    margin-bottom: 20px;
}
h2{
    margin-top: 10px;
}
h5{
    margin-top: 10px;
}
#pay-span{
    font-size: 40px;
    font-weight: 600;
    position: relative;
    margin-top: 80px;
    margin-left: 0px;
}

#wx-pay{
    height: 220px;
    width: 220px;
    margin-left: 180px;
    margin-top: 20px;
}
#ali-pay{
    height: 220px;
    width: 220px;
    margin-top: 20px;
    margin-left: 80px;
}
/*按钮*/
#a-download{
    color: #FF4081;
    margin-left: 40px;
    font-size: 18px;
}
/*图片放大*/
#background-img {
	transition:transform 0.1s;
}
#background-img:hover {
	transform:scale( 1.5 );
}

@media screen and (max-width: 500px) {
    .mdui-container{
        margin: 0;
        margin-right: 0%;
        margin-left:0%;
    }
}